<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/screen.css" />
<div id="page">
	<div class="contact-details">
		<span class="glyphicon glyphicon-envelope"></span> brianw.stearns @ gmail.com<br/>
		<span class="glyphicon glyphicon-earphone"></span> +1 (774) 392-1517<br/>
		<span class="glyphicon glyphicon-globe"></span>
		<a href="http://www.brianws.io"> http://www.brianws.io</a>
	</div>
	
	<h1 class="emphnext">Brian Stearns</h1><br/>
	<span class="stars">
		 Python <span class="glyphicon glyphicon-star-empty"></span>
		 Django <span class="glyphicon glyphicon-star-empty"></span>
		 Javascript <span class="glyphicon glyphicon-star-empty"></span>
		 Angular <span class="glyphicon glyphicon-star-empty"></span>
		 Ruby/Rails 
	</span>
	<br/>

	<h2><span class="glyphicon glyphicon-compressed"></span> Qualification Summary</h2>
	<ul>
		<li>Hard worker and always willing to put in the hours, read the docs, and find a solution.</li>
		<li>Mostly self taught, always learning new things. Currently learning about machine learning.</li>
	</ul>

	<h2><span id="github-png"></span>GitHub Projects</h2>
	<ul>
		<li><a href="https://github.com/BWStearns/WhiteTruffleScraper">BWStearns/WhiteTruffleScraper</a>
		 &raquo; LeakyTruffle - Collect and analyze extra data from exposed White Truffle API.
			<ul>
				<li>I saw a bunch of XHR requests while browsing White Truffle, and so looked and saw that they were sending a lot of extra data that wasn't being used by the view including pay ranges.</li>
				<li>I shot them an email informing them of the leaky API endpoints and built this small utility to collect and analyze the data in the meantime.</li>
				<li>It was kind of fun. Now I have a pretty cool dataset of 800+ companies and 1300+ positions.</li>
			</ul>
		</li>
		<li><a href="https://github.com/BWStearns/barbingo">BWStearns/barbingo</a>
		 &raquo; Reward regulars, build engagement, grab a beer.
			<ul>
				<li>App version of a game I saw people playing on paper at a bar.</li>
				<li>Bars can use the game to drive engagement and build social media materials.</li>
				<li>And it just seemed like a fun quick side-project to learn some mobile development.</li>
			</ul>
		</li>
		<li><a href="https://github.com/BWStearns/airdesk">BWStearns/airdesk</a>
		 &raquo; Live at <a href="http://final.brianws.io/">final.brianws.io</a>
			<ul>
				<li>Project from App Academy (a bootcamp)</li>
				<li>Basically a mockup of a commercial real-estate CRUD marketplace</li>
			</ul>
		</li>
	</ul>

	<h2><span class="glyphicon glyphicon-th-list"></span> Technical skills</h2>
	<ul class="languages">
		<li>Programming Languages: 
			<span class="label label-default">Python</span>
			<span class="label label-default">Ruby</span>
			<span class="label label-default">Javascript</span>
			<span class="label label-default">Some Go</span>
			<span class="label label-default">SQL</span>
		</li>
		<li>Web Frameworks: 
			<span class="label label-default">Django</span>
			<span class="label label-default">Angular</span>
			<span class="label label-default">Rails</span>
			<span class="label label-default">Backbone</span>
			<span class="label label-default">Learning Phonegap</span>
		</li>
		<li>Databases: 
			<span class="label label-default">MySQL</span>
			<span class="label label-default">PostgreSQL</span>
			<span class="label label-default">Redis</span>
		</li>
	</ul>

	<h2><span class="glyphicon glyphicon-book"></span> Education</h2>
	<table class="table education">
		<tr>
			<th>Degree</th><th>Major</th><th>Institution</th><th nowrap>Graduation Year</th>
		</tr>
		<tr>
			<td>BA</td><td>International Affairs: Conflict and Security</td><td>George Washington University</td><td align="center">2012</td>
		</tr>
		<tr>
			<td>Developer Bootcamp</td><td></td><td>App Academy (NYC)</td><td align="center">2013</td>
		</tr>
	</table>


	<h2><span class="glyphicon glyphicon-briefcase"></span> Professional Experience</h2>
	<ul>
		<li>Web Developer at Ycharts, New York
			<span class="right">(Jan. 2014 – July. 2014)</span>
			<ul>
				<li>Expanded the data provided to users to include a whole new category of financial securities. This involved building a new Django app from front to back with over 30 new models, in total having over 1000 new unique fields.</li>
				<li>Technologies got to work on: 
					<span class="label label-default">Python</span>
					<span class="label label-default">Django</span>
					<span class="label label-default">Javascript</span>
					<span class="label label-default">Angular</span>
					<span class="label label-default">South</span>
					<span class="label label-default">MySQL</span>
				</li>
			</ul>
		</li>
		<li>Intelligence and Tech Contractor at Barbaricum, Washington, DC
			<span class="right">(Apr. 2013 – Jul. 2013)</span>
			<ul>
				<li>Consulted on intelligence matters and technology. Wrote programs in Python and Ruby to automate business processes for Barbaricum and our clients. Wrote proposals and some models for potential process and security related initiatives.</li>
			</ul>
		</li>
		<li>Staff Officer at US Department of Defense, Washington, DC
			<span class="right">(Mar. 2010 – Jan. 2013)</span>
			<ul>
				<li>Helped manage a global program. Automated reporting and analytics for my office along with several others. Me and a colleague started initiative to expand said automation to other offices and standardize how metrics were done. I eventually left because, despite widespread support from flag officers, we couldn't find someone to fully greenlight the project.</li>
				<li>It was during my first year of working at DoD that I began teaching myself to code because my Excel sheets would crash on some of the older computers and I needed loops.</li>
				<li>It was also an interesting environment to learn in. It was a closed network and I could almost never get even relatively standard libraries or look at Stack Overflow from work which led to a lot of wheel re-invention out of necessity.</li>
				<li>Technologies got to work on: 
					<span class="label label-default">Python</span>
					<span class="label label-default">Access</span>
					<span class="label label-default">Sharepoint</span>
					<span class="label label-default">Javascript</span>
				</li>
			</ul>
		</li>
	</ul>

	<h2><span class="glyphicon glyphicon-cog"></span> Other Personal Projects</h2>
	<ul>
		<li>
			LeakyTruffle
			<ul>
				<li>Goofy side-project taking advantage of leaked data from White Truffle. Basically a scraping tool to retrieve and organize data from the site that isn't present in the normal views.</li>
			
			</ul>
		</li>
		<li>
			PerSN - a deadman switch for people in high-risk areas
			<ul>
				<li>PerSN was my failed startup. I learned a lot more about people and business than I did about code with this project.</li>
				<li>I worked primarily on product because at the time I didn't trust myself to code.</li>
				<li>The product was basically a check-in system with tolerances for gaps. If a user failed to check-in beyond the tolerances it would alert a list of emergency contacts and connect them.</li>
				<li>The system also had hooks for mobile which we had been in the process of building at the time of failure. The idea was that a user could opt to allow emergency contacts to use the location, audio, or other features remotely in the event of an alert situation.</li>
			
			</ul>
		</li>
	</ul>

</div><!-- End Page -->
